<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="first-box">
        <h1>CADASTRO DE PRODUTO</h1>
        <nav>
            <a href="/"><button class="botoes">Voltar Para Estoque</button></a>
            
            <a href="/logout" title="sair"><button class="botoes">Sair</button></a>
        </nav>
    </div>
    
    <div class='main-box-form'>
        <form action="/cadastrar" method="POST">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            <div>
                <label for="nome">Nome: </label>
                <input type="text" placeholder="Produto: " name="nome"> <!--nome-->
            </div>
            <div>
                <label for="peso">Peso:</label>
                <input type="number" placeholder="Kg ou g" name="peso"> <!--peso-->
            </div>
            <div>
                <label for="qtd">Quantidade:</label>
                <input type="number" placeholder="Ex: 10" name="qtd"> <!--qtd-->
            </div>  
                <label for="descricao">Descrição </label>
                <textarea name="descricao" cols="20" rows="5"></textarea> <!--descrção-->
            <div class="actions">
                <a href="/" id="link"><div class="btn-cancel">Cancelar</div></a>
                <button class="btn-save">salvar</button>
            </div>
        </form>    
    </div>
    
</body>
</html>